{% extends 'partials/base.html' %}

{% block title %}Details{% endblock %}

{% block content  %}

    <div class="w-100 p-3 position-absolute top-50 start-50 translate-middle">
        <table class="table table-dark table-hover">
            <thead>
                <tr class="table-active fw-italic fs-2 text-center">
                    <th scope="col" class="p-4 border" colspan="4">Predicted Price: &nbsp {{ object.SalePrice }}$</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" colspan="2" class="fw-bold fw-bold fs-4 p-3 border text-center">Type of dwelling: &nbsp {{object.get_BldgType_display }}</td>
                    <td scope="row" colspan="2" class="fw-bold fw-bold fs-4 p-3 border text-center">Lot size in square feet: &nbsp {{object.LotArea}}</td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">General shape of property: &nbsp <b>{{object.get_LotShape_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Style of dwelling: &nbsp <b>{{object.get_HouseStyle_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Neighborhood: &nbsp <b>{{object.get_Neighborhood_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Type of road access: &nbsp <b>{{object.get_Street_display}}</b></td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">First Floor square feet: &nbsp <b>{{object.FirstFlrSF}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Second floor square feet: &nbsp <b>{{object.SecondFlrSF}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Number of bedrooms above basement: &nbsp <b>{{object.BedroomAbvGr}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Number of kitchens: &nbsp <b>{{object.KitchenAbvGr}}</b></td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">Total rooms above grade (does not include bathrooms): &nbsp <b>{{object.TotRmsAbvGrd}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Full bathrooms above grade: &nbsp <b>{{object.FullBath}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Basement quality: &nbsp <b>{{object.get_BsmtQual_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Total square feet of basement area: &nbsp <b>{{object.TotalBsmtSF}}</b></td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">Basement full bathrooms: &nbsp <b>{{object.BsmtFullBath}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Garage type: &nbsp <b>{{object.get_GarageType_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Size of garage in square feet: &nbsp <b>{{object.GarageArea}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Type of roof: &nbsp <b>{{object.get_RoofStyle_display}}</b></td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">Roof material: &nbsp <b>{{object.get_RoofMatl_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Type of foundation: &nbsp <b>{{object.get_Foundation_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Paved driveway: &nbsp <b>{{object.get_PavedDrive_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Open porch area in square feet: &nbsp <b>{{object.OpenPorchSF}}</b></td>
                </tr>
                <tr>
                    <td scope="row" class="fs-5 p-3 border">Pool area in square feet: &nbsp <b>{{object.PoolArea}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Heating quality and condition: &nbsp <b>{{object.get_HeatingQC_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Central air conditioning: &nbsp <b>{{object.get_CentralAir_display}}</b></td>
                    <td scope="row" class="fs-5 p-3 border">Electrical system: &nbsp <b>{{object.get_Electrical_display}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}